.nova-table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--table-border-color);
  margin-top: -1px;
  &-left {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-right: 10px;

    .el-button + .el-button {
      margin-left: 8px;
    }
  }
  &-right {
    white-space: nowrap;
    display: flex;
    align-items: center;

    &-total {
      margin-right: 20px;
      font-size: var(--table-font-size);
      color: var(--table-text-color-regular);
    }
  }
}
