.nova-layout {
  height: 100%;
  width: 100%;
  min-width: var(--layout-min-width);
  overflow: hidden;
  &.default {
    display: flex;
    .nova-layout-container {
      flex: 1;
      .nova-layout-main {
        height: calc(100% - 60px);
      }
    }
  }
}
