.nova-layout-header {
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .nova-header-left {
    display: flex;
    align-items: center;

    .collapse-btn {
      padding: 0 15px;
      cursor: pointer;
      font-size: 20px;
      color: #606266;
      transition: color 0.3s;

      &:hover {
        color: #409eff;
      }

      .collapse-icon {
        vertical-align: middle;
      }
    }
  }

  .nova-header-right {
    display: flex;
    align-items: center;

    .toolbar {
    }

    .user-info {
    }
  }
}
