.nova-layout-aside {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--el-menu-border-color);
  background-color: var(--layout-sidebar-background-color);

  --layout-sidebar-background-color: #f4f5f9;
  // 主题色
  --layout-color-primary: var(--color-primary, #faad14);
  --layout-color-primary-9: var(--color-primary, #fff7e8);
  --layout-font-size: var(--font-size, 12px);

  .nova-logo-container {
    height: 60px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .logo-img {
      // width: 100%;
      margin-right: 5px;
    }
    .logo-title {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .el-menu {
    --el-menu-item-height: 36px;
    --el-menu-sub-item-height: var(--el-menu-item-height);
    --el-menu-item-font-size: var(--layout-font-size);
    box-sizing: border-box;
    height: calc(100% - 50px);
    background-color: transparent;
    .el-menu-item-group__title {
      display: none;
    }
    .el-menu-item {
      &:hover {
        background-color: var(--layout-color-primary-9);
      }
    }
    > .el-menu-item {
      margin: 0 12px;
      border-radius: 5px;
      margin-bottom: 3px;
      &.is-active {
        color: #fff;
        font-weight: 700;
        background-color: var(--layout-color-primary);
      }
    }
    > .el-sub-menu {
      padding: 0 12px;
      margin-bottom: 3px;
      .el-sub-menu__title {
        border-radius: 5px;
        margin-bottom: 3px;
      }
      .el-menu-item {
        border-radius: 5px;
        margin-bottom: 3px;
      }

      &.is-active {
        .el-sub-menu__title {
          background-color: var(--layout-color-primary);
          color: #fff;
          font-weight: 700;
        }
        .el-menu-item {
          &.is-active {
            color: var(--layout-color-primary);
          }
        }
      }
    }
  }
}
